.largest {
  font-size: $size-largest;
}
.larger {
  font-size: $size-larger;
}
.large {
  font-size: $size-large;
}
.largish {
  font-size: $size-largish;
}
.smallish {
  font-size: $size-smallish;
}
.small {
  font-size: $size-small;
}
.smaller {
  font-size: $size-smaller;
}
.smallest {
  font-size: $size-smallest;
}

