h1 {
  font-size: $size-largest;
  line-height: 1.1;
  font-weight: bold;
  color: $brand-dark;
  margin: 1rem 0;
}
h2 {
  font-size: $size-large;
  line-height: 1.2;
  font-weight: bold;
  color: $brand-dark;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: $size-large;
  line-height: 1.3;
  font-weight: bold;
  color: $brand-dark;
}
h4 {
  font-size: $size-largish;
  line-height: 1.4;
  font-weight: bold;
  color: $brand-dark;
}
p {
  margin: 1rem 0;
}
p.intro {
  font-size: 1.4em;
}
p.subintro {
  font-size: 1.25em;
}
h2 + p {
  margin-top: 1rem;
}
ul.menu {
  padding: 1rem;
  list-style: disc;
}
li {
  margin-bottom: 1rem;
}
a {
  font-weight: 500;
  color: $brand-color;
  text-decoration: inherit;
  transition: all 1s;
  &:hover {
    transition: all 0.2s;
    color: $hover-color;
  }
}

